body {
  background: rosybrown;
  color: white;
  font-family: helvetica; sans-serif;
  font-size: 24 px;
}

nav{
  background-color: mistyrose;
  display: flex;
  flex-direction: row
}

nav a {
  padding: 20px;
}

nav a.active {
  background: white;
}

.card{
  overflow: auto;
}

.card{
  background: rgba(255, 255, 255, 0.5);
  padding: 1%;
  margin: 1%;
  float: left;
  width: 46%;

}
